/*  ==========================================================================
    MODULE
    ========================================================================== */
/*  ==========================================================================
    STORAGE
    ========================================================================== */
/*  ==========================================================================
    VARIABLES
    Collection of all variables

    INFO:
    - try to use variables as much as possible, it makes life easier
    - try to use meaningful prefixes, e.g. "$clr-" for color variables
      or "$fs-" for font-sizes
    ========================================================================== */
/*  ==========================================================================
    CLASS NAMES
    Collection of class-names.
    ========================================================================== */
/*  ==========================================================================
    COLORS
    List all colors concerning your project here

    INFO:
    - use for your colors at least the prefix "$clr-"
    ========================================================================== */
/*  ==========================================================================
    DIMENSIONS
    List of some recurring dimensions.

    INFO:
    - don't delete any unit!
    - do unit changes with care
    - try to use prefixes (f.e. "zi" for "z-index", "hgt" for "height", "wdt" for "width" etc.)
    - if possible try to define the main z-index values here
    - don't put all dimensions in here, only well selected ones (it's not a trashcan!)
    ========================================================================== */
/*  ==========================================================================
    MEDIA QUERIES
    Collection of media queries.
    ========================================================================== */
/*  ==========================================================================
    TYPOGRAPHY
    Font settings concerning your project.

    INFO:
    - don't delete anything!
    - use changes in here with care
    - try to use prefixes (f.e. "ff" for "font-family", "fs" for "font-size", "fw" for "font-weight" ecc.)
    - don't put all properties in here, only well selected ones (it's not a trashcan!)
    ========================================================================== */
/*  ==========================================================================
    FUNCIONS
    Collection of all functions
    ========================================================================== */
/*  ==========================================================================
    GENERAL
    Useful global functions
    ========================================================================== */
/*  ==========================================================================
    MIXINS
    Collection of all mixins (mind the ordering!)
    ========================================================================== */
/*  ==========================================================================
    GENERAL
    Useful global helpers

    INFO:
    - no specific naming convention (no prefix) except to not use camelcase if possible!
    - use it with care, its not a trash can!
    - contributions for the kickstarter are welcome!
    ========================================================================== */
/*
 * WRAPPER DIMENSIONS
 * generates wrapper padding & max-width
 */
/*  ==========================================================================
    BUTTONS
    Helpers to edit buttons

    INFO:
    - all mixins should start with "btn" as prefix
    ========================================================================== */
/*  ==========================================================================
    IMAGES
    Collection of all helpers for images

    INFO:
    - all mixins should start with "img" as prefix
    ========================================================================== */
/*  ==========================================================================
    TYPOGRAPHY
    Helpers to arrange type

    INFO:
    - all mixins should start with "typo" as prefix
    ========================================================================== */
/*  PROPERTIES
    ------------------------------------------------------------------------ */
/*  TEXT TYPES
    ------------------------------------------------------------------------ */
/*  BLOCKS/WRAPS
    ------------------------------------------------------------------------ */
/*  ==========================================================================
    VISTA
    Helper to add base style to the vista output.

    INFO:
    - Usage example:
      @include vista(100vh, 75vh, 100vh, 60vh, true);
    ========================================================================== */
/*  ==========================================================================
    KEYFRAMES
    Collection of all keyframes (mind the ordering!)
    ========================================================================== */
/*  ==========================================================================
    LOADER
    ========================================================================== */
@keyframes loader-spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*  ==========================================================================
    CONFETTI
    ========================================================================== */
@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    top: 65%;
  }
}
/* STYLING
 * --------------------------------------------------------------------------- */
.EBIL-module[data-id=impressions] {
  /* RESPONSIVE
   * --------------------------------------------------------------------------- */
}
.EBIL-module[data-id=impressions] .EBIL-module__impression-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: translateY(10em);
  transition: 1.5s ease-out;
  transition-delay: 0.5s;
  overflow: hidden;
}
.EBIL-module[data-id=impressions] .EBIL-module__item-wrap {
  margin-top: -20em;
  position: relative;
  width: 100%;
  aspect-ratio: 10/6;
}
.EBIL-module[data-id=impressions] .EBIL-module__item {
  position: absolute;
  z-index: 1;
  width: 100%;
  aspect-ratio: 10/6;
  display: grid;
  place-items: center;
  transform-origin: center -150%;
  pointer-events: none;
  user-select: none;
}
.EBIL-module[data-id=impressions] .EBIL-module__item img {
  width: 33%;
  height: auto;
  border-radius: 1rem;
  transition: all 250ms ease-in-out;
}
.EBIL-module[data-id=impressions] .EBIL-module__arrows {
  position: absolute;
  top: 46%;
  display: flex;
  flex-direction: row-reverse;
  gap: 77em;
}
.EBIL-module[data-id=impressions] .EBIL-module__arrow-right .EBIL-icon--r {
  font-size: 4em;
}
.EBIL-module[data-id=impressions] .EBIL-module__arrow-left .EBIL-icon--l {
  font-size: 4em;
}
.EBIL-module[data-id=impressions].JS-fade-in .EBIL-module__impression-wrap {
  opacity: 1;
  transform: translateY(0);
}
.EBIL-module[data-id=impressions].JS-fade-in .EBIL-module__impression-headlines {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  .EBIL-module[data-id=impressions] .EBIL-module__item-wrap {
    margin-top: -8em;
  }
  .EBIL-module[data-id=impressions] .EBIL-module__arrows {
    top: 53%;
    gap: 44em;
  }
  .EBIL-module[data-id=impressions] .EBIL-module__item img {
    width: 43%;
  }
}
@media (max-width: 767px) {
  .EBIL-module[data-id=impressions] .EBIL-module__item-wrap {
    margin-top: -3em;
  }
  .EBIL-module[data-id=impressions] .EBIL-module__arrows {
    top: 80%;
    gap: 18em;
  }
  .EBIL-module[data-id=impressions] .EBIL-module__arrow-right .EBIL-icon--r {
    font-size: 3em;
  }
  .EBIL-module[data-id=impressions] .EBIL-module__arrow-left .EBIL-icon--l {
    font-size: 3em;
  }
}
@media (max-width: 570px) {
  .EBIL-module[data-id=impressions] .EBIL-module__arrows {
    top: 85%;
  }
  .EBIL-module[data-id=impressions] .EBIL-module__headline {
    max-width: 16em;
  }
  .EBIL-module[data-id=impressions] .EBIL-module__item img {
    width: 48%;
  }
}
@media (max-width: 480px) {
  .EBIL-module[data-id=impressions] .EBIL-module__arrows {
    top: 88%;
  }
}
@media (max-width: 350px) {
  .EBIL-module[data-id=impressions] .EBIL-module__arrows {
    top: 90%;
    gap: 13em;
  }
}
