/*  ==========================================================================
    MAIN
    Styling for parts (which are not defined as modules), for eg. breadcrumb

    INFO:
    - don't style modules here, use the corresponding modules scss folder
    ========================================================================== */
/*  ==========================================================================
    STORAGE
    ========================================================================== */
/*  ==========================================================================
    VARIABLES
    Collection of all variables

    INFO:
    - try to use variables as much as possible, it makes life easier
    - try to use meaningful prefixes, e.g. "$clr-" for color variables
      or "$fs-" for font-sizes
    ========================================================================== */
/*  ==========================================================================
    CLASS NAMES
    Collection of class-names.
    ========================================================================== */
/*  ==========================================================================
    COLORS
    List all colors concerning your project here

    INFO:
    - use for your colors at least the prefix "$clr-"
    ========================================================================== */
/*  ==========================================================================
    DIMENSIONS
    List of some recurring dimensions.

    INFO:
    - don't delete any unit!
    - do unit changes with care
    - try to use prefixes (f.e. "zi" for "z-index", "hgt" for "height", "wdt" for "width" etc.)
    - if possible try to define the main z-index values here
    - don't put all dimensions in here, only well selected ones (it's not a trashcan!)
    ========================================================================== */
/*  ==========================================================================
    MEDIA QUERIES
    Collection of media queries.
    ========================================================================== */
/*  ==========================================================================
    TYPOGRAPHY
    Font settings concerning your project.

    INFO:
    - don't delete anything!
    - use changes in here with care
    - try to use prefixes (f.e. "ff" for "font-family", "fs" for "font-size", "fw" for "font-weight" ecc.)
    - don't put all properties in here, only well selected ones (it's not a trashcan!)
    ========================================================================== */
/*  ==========================================================================
    FUNCIONS
    Collection of all functions
    ========================================================================== */
/*  ==========================================================================
    GENERAL
    Useful global functions
    ========================================================================== */
/*  ==========================================================================
    MIXINS
    Collection of all mixins (mind the ordering!)
    ========================================================================== */
/*  ==========================================================================
    GENERAL
    Useful global helpers

    INFO:
    - no specific naming convention (no prefix) except to not use camelcase if possible!
    - use it with care, its not a trash can!
    - contributions for the kickstarter are welcome!
    ========================================================================== */
/*
 * WRAPPER DIMENSIONS
 * generates wrapper padding & max-width
 */
/*  ==========================================================================
    BUTTONS
    Helpers to edit buttons

    INFO:
    - all mixins should start with "btn" as prefix
    ========================================================================== */
/*  ==========================================================================
    IMAGES
    Collection of all helpers for images

    INFO:
    - all mixins should start with "img" as prefix
    ========================================================================== */
/*  ==========================================================================
    TYPOGRAPHY
    Helpers to arrange type

    INFO:
    - all mixins should start with "typo" as prefix
    ========================================================================== */
/*  PROPERTIES
    ------------------------------------------------------------------------ */
/*  TEXT TYPES
    ------------------------------------------------------------------------ */
/*  BLOCKS/WRAPS
    ------------------------------------------------------------------------ */
/*  ==========================================================================
    VISTA
    Helper to add base style to the vista output.

    INFO:
    - Usage example:
      @include vista(100vh, 75vh, 100vh, 60vh, true);
    ========================================================================== */
/*  ==========================================================================
    KEYFRAMES
    Collection of all keyframes (mind the ordering!)
    ========================================================================== */
/*  ==========================================================================
    LOADER
    ========================================================================== */
@keyframes loader-spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*  ==========================================================================
    CONFETTI
    ========================================================================== */
@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    top: 65%;
  }
}
/* STYLING
 * --------------------------------------------------------------------------- */
.EBIL-section[data-id=admin] {
  color: #fff;
  /* RESPONSIVE
   * --------------------------------------------------------------------------- */
}
.EBIL-section[data-id=admin] .EBIL-section__wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #141414, rgba(20, 20, 20, 0.98), rgba(20, 20, 20, 0.95), rgba(20, 20, 20, 0.98), #141414);
  pointer-events: all;
}
.EBIL-section[data-id=admin] .EBIL-section__admin-menu {
  overflow: hidden;
  border-bottom: solid white;
}
.EBIL-section[data-id=admin] .EBIL-section__admin-menu > ul {
  display: flex;
  justify-content: space-between;
  column-gap: 3em;
  overflow: hidden;
}
.EBIL-section[data-id=admin] .EBIL-section__admin-menu > ul > li {
  display: flex;
  margin-bottom: 1.5em;
  padding: 0 5em;
  opacity: 0.5;
  transition: opacity 0.2s;
}
.EBIL-section[data-id=admin] .EBIL-section__admin-menu > ul > li.JS-act {
  opacity: 1;
}
.EBIL-section[data-id=admin] .EBIL-section__admin-menu > ul > li:hover {
  opacity: 1;
}
.EBIL-section[data-id=admin] .EBIL-section__admin-menu > ul > li > a {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.EBIL-section[data-id=admin] .EBIL-section__admin-menu > ul > li > a > span {
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.EBIL-section[data-id=admin] .EBIL-section__admin-menu > ul > li > a > span:before {
  display: block;
  content: "";
  width: 20px;
  height: 1px;
  background-color: #FFFFFF;
  margin-right: 10px;
}
.EBIL-section[data-id=admin] .EBIL-section__admin-menu:hover .EBIL-section__main-menu__item:not(:hover) {
  opacity: 0.5;
}
.EBIL-section[data-id=admin] .EBIL-section__admin-menu__number {
  margin-right: 1em;
}
.EBIL-section[data-id=admin] .EBIL-section__admin-menu__number > span {
  font-size: 1.5em;
  font-weight: 600;
}
.EBIL-section[data-id=admin] .EBIL-section__tagebuch {
  display: none;
  flex-direction: column;
  row-gap: 4em;
  margin-top: 2em;
  align-items: center;
}
.EBIL-section[data-id=admin] .EBIL-section__tagebuch.JS-act {
  display: flex;
}
.EBIL-section[data-id=admin] .EBIL-section__eintrag-wrap {
  background: linear-gradient(to bottom, #636363, rgba(99, 99, 99, 0.98), rgba(99, 99, 99, 0.95), rgba(99, 99, 99, 0.98), #636363);
  max-width: calc(100% - 30em);
  height: 25em;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}
.EBIL-section[data-id=admin] .EBIL-section__calendar {
  display: none;
  position: fixed;
  top: 12em;
  right: 3em;
}
.EBIL-section[data-id=admin] .EBIL-section__calendar.JS-act {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.EBIL-section[data-id=admin] .EBIL-section__calendar__item {
  position: absolute;
  right: 0.5em;
  bottom: 0.2em;
  cursor: pointer;
  color: black;
}
.EBIL-section[data-id=admin] .EBIL-section__calendar__item .EBIL-icon--1 {
  display: block;
  font-size: 1em;
}
.EBIL-section[data-id=admin] .EBIL-section__auto {
  display: none;
}
.EBIL-section[data-id=admin] .EBIL-section__auto.JS-act {
  display: block;
}
@media (max-width: 1024px) {
  .EBIL-section[data-id=admin] {
    padding-top: 3em;
  }
  .EBIL-section[data-id=admin] .EBIL-section__admin-menu > ul {
    overflow: visible;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
  .EBIL-section[data-id=admin] .EBIL-section__eintrag-wrap {
    max-width: calc(100% - 10em);
    height: 22em;
  }
  .EBIL-section[data-id=admin] .EBIL-section__calendar {
    top: 19em;
    right: 3em;
  }
  .EBIL-section[data-id=admin] .EBIL-section__calendar > input {
    width: 10em;
  }
  .EBIL-section[data-id=admin] .EBIL-section__tagebuch {
    align-items: flex-start;
  }
  .EBIL-section[data-id=admin] .EBIL-section__neuer-eintrag {
    margin-left: 1em;
  }
  .EBIL-section[data-id=admin] .EBIL-section__eintrag-wrap {
    margin-left: 1em;
  }
}
@media (max-width: 767px) {
  .EBIL-section[data-id=admin] .EBIL-section__calendar {
    right: 2em;
  }
  .EBIL-section[data-id=admin] .EBIL-section__calendar > input {
    width: 9em;
  }
  .EBIL-section[data-id=admin] .EBIL-section__calendar__item {
    right: 0.2em;
  }
  .EBIL-section[data-id=admin] .EBIL-section__eintrag-wrap {
    max-width: calc(100% - 12em);
  }
}
