/*  ==========================================================================
    HEADER
    Styling for the highest part of the website (mostly also the fixed part
    on top)
    ========================================================================== */
/*  ==========================================================================
    STORAGE
    ========================================================================== */
/*  ==========================================================================
    VARIABLES
    Collection of all variables

    INFO:
    - try to use variables as much as possible, it makes life easier
    - try to use meaningful prefixes, e.g. "$clr-" for color variables
      or "$fs-" for font-sizes
    ========================================================================== */
/*  ==========================================================================
    CLASS NAMES
    Collection of class-names.
    ========================================================================== */
/*  ==========================================================================
    COLORS
    List all colors concerning your project here

    INFO:
    - use for your colors at least the prefix "$clr-"
    ========================================================================== */
/*  ==========================================================================
    DIMENSIONS
    List of some recurring dimensions.

    INFO:
    - don't delete any unit!
    - do unit changes with care
    - try to use prefixes (f.e. "zi" for "z-index", "hgt" for "height", "wdt" for "width" etc.)
    - if possible try to define the main z-index values here
    - don't put all dimensions in here, only well selected ones (it's not a trashcan!)
    ========================================================================== */
/*  ==========================================================================
    MEDIA QUERIES
    Collection of media queries.
    ========================================================================== */
/*  ==========================================================================
    TYPOGRAPHY
    Font settings concerning your project.

    INFO:
    - don't delete anything!
    - use changes in here with care
    - try to use prefixes (f.e. "ff" for "font-family", "fs" for "font-size", "fw" for "font-weight" ecc.)
    - don't put all properties in here, only well selected ones (it's not a trashcan!)
    ========================================================================== */
/*  ==========================================================================
    FUNCIONS
    Collection of all functions
    ========================================================================== */
/*  ==========================================================================
    GENERAL
    Useful global functions
    ========================================================================== */
/*  ==========================================================================
    MIXINS
    Collection of all mixins (mind the ordering!)
    ========================================================================== */
/*  ==========================================================================
    GENERAL
    Useful global helpers

    INFO:
    - no specific naming convention (no prefix) except to not use camelcase if possible!
    - use it with care, its not a trash can!
    - contributions for the kickstarter are welcome!
    ========================================================================== */
/*
 * WRAPPER DIMENSIONS
 * generates wrapper padding & max-width
 */
/*  ==========================================================================
    BUTTONS
    Helpers to edit buttons

    INFO:
    - all mixins should start with "btn" as prefix
    ========================================================================== */
/*  ==========================================================================
    IMAGES
    Collection of all helpers for images

    INFO:
    - all mixins should start with "img" as prefix
    ========================================================================== */
/*  ==========================================================================
    TYPOGRAPHY
    Helpers to arrange type

    INFO:
    - all mixins should start with "typo" as prefix
    ========================================================================== */
/*  PROPERTIES
    ------------------------------------------------------------------------ */
/*  TEXT TYPES
    ------------------------------------------------------------------------ */
/*  BLOCKS/WRAPS
    ------------------------------------------------------------------------ */
/*  ==========================================================================
    VISTA
    Helper to add base style to the vista output.

    INFO:
    - Usage example:
      @include vista(100vh, 75vh, 100vh, 60vh, true);
    ========================================================================== */
/*  ==========================================================================
    KEYFRAMES
    Collection of all keyframes (mind the ordering!)
    ========================================================================== */
/*  ==========================================================================
    LOADER
    ========================================================================== */
@keyframes loader-spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*  ==========================================================================
    CONFETTI
    ========================================================================== */
@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    top: 65%;
  }
}
/* STYLING
 * --------------------------------------------------------------------------- */
.EBIL-section[data-id=header] {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 50;
  color: #fff;
  padding: 8em 9em 0 9em;
  pointer-events: none;
  /* RESPONSIVE
   * --------------------------------------------------------------------------- */
  /* KEYFRAMES
  * --------------------------------------------------------------------------- */
}
.EBIL-section[data-id=header] .EBIL-section__wrap {
  display: flex;
  justify-content: space-between;
}
.EBIL-section[data-id=header] .EBIL-section__left {
  pointer-events: all;
  z-index: 2;
}
.EBIL-section[data-id=header] .EBIL-section__logo {
  position: fixed;
  width: 25em;
}
.EBIL-section[data-id=header] .EBIL-section__logo__item img {
  height: auto;
  width: 100%;
  transition: all 0.5s;
}
.EBIL-section[data-id=header] .EBIL-section__right {
  position: relative;
  z-index: 2;
  pointer-events: all;
}
.EBIL-section[data-id=header] .EBIL-section__right__item {
  position: absolute;
  right: 12em;
  top: 0.5em;
  cursor: pointer;
}
.EBIL-section[data-id=header] .EBIL-section__right__item .EBIL-icon--1 {
  display: block;
  transition: opacity 0.2s;
  opacity: 1;
  font-size: 2.6em;
}
.EBIL-section[data-id=header] .EBIL-section__right__item .EBIL-icon--2 {
  padding-right: 0.26em;
  display: none;
  transition: opacity 0.2s;
  opacity: 0;
  font-size: 2.6em;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu-trigger {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: fixed;
  top: 8em;
  right: 9em;
  transition: all 0.5s;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu-trigger > span {
  display: block;
  font-size: 1.4em;
  text-transform: uppercase;
  padding-right: 1em;
  user-select: none;
  transition: letter-spacing 0.2s;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu-trigger > span:last-of-type {
  display: none;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu-trigger__burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 4em;
  min-height: 3.5em;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu-trigger__burger > span {
  width: 3.5em;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 1em;
  margin: 0.4em 0;
  transition: width 0.2s;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu-trigger__burger > span:nth-child(2) {
  width: 3em;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu-trigger:hover .EBIL-section__main-menu-trigger {
  opacity: 0.8;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu-trigger:hover .EBIL-section__main-menu-trigger__burger > span {
  width: 3em;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu-trigger:hover .EBIL-section__main-menu-trigger__burger > span:nth-child(2) {
  width: 3.5em;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu-trigger:hover > span {
  letter-spacing: 2px;
}
.EBIL-section[data-id=header] .EBIL-section__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #041319, rgba(4, 19, 25, 0.98), rgba(4, 19, 25, 0.95), rgba(4, 19, 25, 0.98), #041319);
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}
.EBIL-section[data-id=header] .EBIL-section__login {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #041319, rgba(4, 19, 25, 0.98), rgba(4, 19, 25, 0.95), rgba(4, 19, 25, 0.98), #041319);
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu {
  max-height: calc(100vh - 19.5em);
  overflow: auto;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu > ul > li {
  display: flex;
  margin-bottom: 3.5em;
  padding: 0 5em;
  opacity: 0.3;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu > ul > li > a > span {
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu > ul > li > a > span:before {
  display: block;
  content: "";
  width: 20px;
  height: 1px;
  background-color: white;
  margin-right: 10px;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu__number {
  margin-right: 3em;
  width: 8em;
}
.EBIL-section[data-id=header] .EBIL-section__main-menu__number > span {
  font-size: 6.7em;
  font-weight: 600;
}
.EBIL-section[data-id=header] .EBIL-section__login-menu {
  max-height: calc(100vh - 19.5em);
  overflow: auto;
}
.EBIL-section[data-id=header] .EBIL-section__login-menu > span {
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.EBIL-section[data-id=header] .EBIL-section__link {
  display: none;
  pointer-events: all;
  position: fixed;
  right: 9em;
  bottom: 6em;
}
.EBIL-section[data-id=header] .EBIL-section__link > div {
  width: 7em;
  height: 7em;
  border-radius: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #041319;
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.5s, border 0.5s;
}
.EBIL-section[data-id=header] .EBIL-section__link > div > i {
  font-size: 2.5em;
  color: #FFFFFF;
}
.EBIL-section[data-id=header] .EBIL-section__link > div:after {
  display: block;
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 1px #ffffff75;
  opacity: 0;
}
.EBIL-section[data-id=header] .EBIL-section__link > div:hover {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0);
}
.EBIL-section[data-id=header] .EBIL-section__link > div:hover:after {
  animation: none;
}
.EBIL-section[data-id=header] .EBIL-section__link > div:after {
  animation: linefade 2.5s infinite linear;
}
.EBIL-section[data-id=header][data-scrolling="1"] .EBIL-section__logo__item img {
  display: none;
}
@media (max-width: 1600px) {
  .EBIL-section[data-id=header][data-scrolling="1"] .EBIL-section__logo {
    display: none;
  }
}
.EBIL-section[data-id=header][data-scrolling="1"] .EBIL-section__right__item .EBIL-icon {
  opacity: 0;
}
.EBIL-section[data-id=header][data-scrolling="1"] .EBIL-section__main-menu-trigger {
  color: #FFFFFF;
}
.EBIL-section[data-id=header][data-scrolling="1"] .EBIL-section__main-menu-trigger__burger > span {
  background-color: #FFFFFF;
}
.EBIL-section[data-id=header][data-scrolling="1"] .EBIL-section__link {
  display: block;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__main-menu-trigger > span {
  display: none;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__main-menu-trigger > span:last-of-type {
  display: block;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__main-menu-trigger__burger {
  position: relative;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__main-menu-trigger__burger > span {
  position: absolute;
  bottom: 1.3em;
  width: 3.5em !important;
  transition: all 0.5s;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__main-menu-trigger__burger > span:first-child {
  transform: rotate(45deg);
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__main-menu-trigger__burger > span:nth-child(2) {
  display: none;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__main-menu-trigger__burger > span:last-child {
  transform: rotate(-45deg);
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__logo {
  position: fixed;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__menu {
  opacity: 1;
  pointer-events: all;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__right__item {
  pointer-events: none;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__right__item .EBIL-icon {
  opacity: 0;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__login {
  pointer-events: none;
  opacity: 0;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__scroller, .EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__link {
  opacity: 0;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__main-menu > ul > li {
  opacity: 0.5;
  transition: opacity 0.2s;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__main-menu > ul > li.JS-anchor {
  cursor: pointer;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__main-menu > ul > li.JS-anchor > a {
  pointer-events: none;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__main-menu > ul > li.JS-anchor.JS-act {
  opacity: 1;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__main-menu > ul > li:hover {
  opacity: 1;
}
.EBIL-section[data-id=header][data-menu-open="1"] .EBIL-section__main-menu:hover .EBIL-section__main-menu__item:not(:hover) {
  opacity: 0.5;
}
.EBIL-section[data-id=header][data-login-open="1"] .EBIL-section__main-menu-trigger {
  pointer-events: none;
  display: none;
}
.EBIL-section[data-id=header][data-login-open="1"] .EBIL-section__logo {
  position: fixed;
}
.EBIL-section[data-id=header][data-login-open="1"] .EBIL-section__login {
  opacity: 1;
  pointer-events: all;
}
.EBIL-section[data-id=header][data-login-open="1"] .EBIL-section__right__item .EBIL-icon--1 {
  display: none;
  opacity: 0;
}
.EBIL-section[data-id=header][data-login-open="1"] .EBIL-section__right__item .EBIL-icon--2 {
  display: block;
  opacity: 1;
}
.EBIL-section[data-id=header][data-login-open="1"] .EBIL-section__scroller, .EBIL-section[data-id=header][data-login-open="1"] .EBIL-section__link {
  opacity: 0;
}
.EBIL-section[data-id=header][data-login-open="1"] .EBIL-section__main-menu {
  pointer-events: none;
  opacity: 0;
}
.EBIL-section[data-id=header][data-login-open="1"] .EBIL-section__login-menu {
  opacity: 1;
}
@media (max-width: 1024px) {
  .EBIL-section[data-id=header] {
    padding: 4em 5em 0 5em;
  }
  .EBIL-section[data-id=header] .EBIL-section__logo__item img {
    display: none;
  }
  .EBIL-section[data-id=header] .EBIL-section__right__item {
    right: 7em;
  }
  .EBIL-section[data-id=header] .EBIL-section__link {
    bottom: 4em;
    right: 5em;
  }
  .EBIL-section[data-id=header] .EBIL-section__link > div {
    width: 6em;
    height: 6em;
  }
  .EBIL-section[data-id=header] .EBIL-section__menu {
    align-items: flex-start;
  }
  .EBIL-section[data-id=header] .EBIL-section__main-menu {
    margin: 20em 0 0 0;
    height: calc(100% - 28em);
  }
  .EBIL-section[data-id=header] .EBIL-section__main-menu > ul > li {
    margin-bottom: 3em;
    opacity: 1;
  }
  .EBIL-section[data-id=header] .EBIL-section__main-menu > ul > li > span {
    font-size: 1.4em;
  }
  .EBIL-section[data-id=header] .EBIL-section__main-menu__number {
    margin-right: 2em;
    width: 6em;
  }
  .EBIL-section[data-id=header] .EBIL-section__main-menu__number > span {
    font-size: 4.5em;
  }
  .EBIL-section[data-id=header] .EBIL-section__nav {
    bottom: 5em;
  }
  .EBIL-section[data-id=header] .EBIL-section__main-menu-trigger {
    right: 5em;
    top: 4em;
    flex-direction: column-reverse;
  }
  .EBIL-section[data-id=header] .EBIL-section__main-menu-trigger > span {
    padding: 1em 0 0 0;
  }
}
@media (max-width: 767px) {
  .EBIL-section[data-id=header] {
    padding: 4em 2.5em 0 2.5em;
  }
  .EBIL-section[data-id=header] .EBIL-section__main-menu-trigger {
    right: 2.5em;
  }
  .EBIL-section[data-id=header] .EBIL-section__link {
    right: 2.5em;
  }
}
@media (max-width: 480px) {
  .EBIL-section[data-id=header] .EBIL-section__menu {
    align-items: center;
  }
  .EBIL-section[data-id=header] .EBIL-section__main-menu {
    margin: 15em 0 0 0;
  }
}
@keyframes linefade {
  0% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  15% {
    opacity: 0.8;
  }
  33% {
    opacity: 0;
    width: 140%;
    height: 140%;
  }
  100% {
    opacity: 0;
  }
}
