@font-face {
  font-family: 'EBIL';
  src:
    url('/var/www/Packages/Resources/Public/Icons/Icomoon/fonts/EBIL.ttf') format('truetype'),
    url('/var/www/Packages/Resources/Public/Icons/Icomoon/fonts/EBIL.woff') format('woff'),
    url('/var/www/Packages/Resources/Public/Icons/Icomoon/fonts/EBIL.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="EBIL-icon--"], [class*=" EBIL-icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'EBIL' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.DNA-icon--website:before {
  content: "\e90a";
}
.DNA-icon--powered-by-bn:before {
  content: "\e909";
}
.DNA-icon--hmm-logo:before {
  content: "\e900";
}
.DNA-icon--arrow-left:before {
  content: "\e901";
}
.DNA-icon--arrow-right:before {
  content: "\e902";
}
.DNA-icon--close:before {
  content: "\e903";
}
.DNA-icon--location:before {
  content: "\e904";
}
.DNA-icon--mail:before {
  content: "\e905";
}
.DNA-icon--menu:before {
  content: "\e906";
}
.DNA-icon--phone:before {
  content: "\e907";
}
.DNA-icon--scroll:before {
  content: "\e908";
}
