@font-face {
  font-family: 'DNA';
  src:
    url('/typo3conf/ext/bn_package/Resources/Public/Icons/Icomoon/fonts/DNA.ttf?9ucogn') format('truetype'),
    url('/typo3conf/ext/bn_package/Resources/Public/Icons/Icomoon/fonts/DNA.woff?9ucogn') format('woff'),
    url('/typo3conf/ext/bn_package/Resources/Public/Icons/Icomoon/fonts/DNA.svg?9ucogn#DNA') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="DNA-icon--"], [class*=" DNA-icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'DNA' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.DNA-icon--website:before {
  content: "\e90a";
}
.DNA-icon--powered-by-bn:before {
  content: "\e909";
}
.DNA-icon--hmm-logo:before {
  content: "\e900";
}
.DNA-icon--arrow-left:before {
  content: "\e901";
}
.DNA-icon--arrow-right:before {
  content: "\e902";
}
.DNA-icon--close:before {
  content: "\e903";
}
.DNA-icon--location:before {
  content: "\e904";
}
.DNA-icon--mail:before {
  content: "\e905";
}
.DNA-icon--menu:before {
  content: "\e906";
}
.DNA-icon--phone:before {
  content: "\e907";
}
.DNA-icon--scroll:before {
  content: "\e908";
}
