@font-face {
  font-family: 'EBIL';
  src:
    url('./fonts/EBIL.ttf') format('truetype'),
    url('./fonts/EBIL.woff') format('woff'),
    url('./fonts/EBIL.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="EBIL-icon--"], [class*=" EBIL-icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'EBIL' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.EBIL-icon--add-outline:before {
  content: "\e900";
}
.EBIL-icon--add-solid:before {
  content: "\e901";
}
.EBIL-icon--arrow-thin-down:before {
  content: "\e902";
}
.EBIL-icon--arrow-thin-left:before {
  content: "\e903";
}
.EBIL-icon--arrow-thin-right:before {
  content: "\e904";
}
.EBIL-icon--arrow-thin-up:before {
  content: "\e905";
}
.EBIL-icon--cheveron-down:before {
  content: "\e906";
}
.EBIL-icon--cheveron-left:before {
  content: "\e907";
}
.EBIL-icon--cheveron-outline-down:before {
  content: "\e908";
}
.EBIL-icon--cheveron-outline-left:before {
  content: "\e909";
}
.EBIL-icon--cheveron-outline-right:before {
  content: "\e90a";
}
.EBIL-icon--cheveron-outline-up:before {
  content: "\e90b";
}
.EBIL-icon--cheveron-right:before {
  content: "\e90c";
}
.EBIL-icon--cheveron-up:before {
  content: "\e90d";
}
.EBIL-icon--close:before {
  content: "\e90e";
}
.EBIL-icon--close-outline:before {
  content: "\e90f";
}
.EBIL-icon--close-solid:before {
  content: "\e910";
}
.EBIL-icon--code:before {
  content: "\e911";
}
.EBIL-icon--code:before {
  content: "\e911";
}
.EBIL-icon--code:before {
  content: "\e911";
}
.EBIL-icon--cog:before {
  content: "\e912";
}
.EBIL-icon--envelope:before {
  content: "\e913";
}
.EBIL-icon--exclamation-solid:before {
  content: "\e914";
}
.EBIL-icon--hand-stop:before {
  content: "\e915";
}
.EBIL-icon--information-solid:before {
  content: "\e916";
}
.EBIL-icon--key:before {
  content: "\e917";
}
.EBIL-icon--location:before {
  content: "\e918";
}
.EBIL-icon--lock-closed:before {
  content: "\e919";
}
.EBIL-icon--phone:before {
  content: "\e91a";
}
.EBIL-icon--user:before {
  content: "\e91b";
}
.EBIL-icon--user-solid-circle:before {
  content: "\e91c";
}
.EBIL-icon--calendar:before {
  content: "\e91d";
}


